body{
	body{
		
		font-family: 'Poppins',sans-seri;
		margin:0;
		padding:0;
		
	}
	
}
.orange{
	color: orange;
}


h2{
	text-align: center;
	margin-bottom: 40px;
	font-size: 50px;
	font-family: 'Times New Roman', Times, serif;

}

.all-container{
	display: flex;
	margin-bottom: 100px;
}

.hearder_part{
	width: 50%;
    position: relative;
    justify-content: space-between;


}
.hearder_part img{
	width: 100%;
	padding-left: 10%;
	height:auto;
	position: relative;
	
}
.hearder_part h1{
	font-size: 60px;
	color: #333333;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 1.4;
	padding-left: 1%;
	position: relative;
	opacity: 0.9;
}
.hearder_part h1 span.line{
	width: 5px;
    height: 77%;
    background: #FF5959;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%); /* sorry! I was no Idea */
    border-radius: 50px;
}
.colorize{
	color: #FB9400;
}
#maind{
	border-left: 7px solid;
	border-image: linear-gradient(#f0629d, #FF7657);
	border-image-slice: 1;
	
}
.mission-img-content{
	width: 30%;
	margin-right: 2%;
	padding-left: 20px;
	padding-bottom: 5%;
	border-radius: 15px;
	
}
.mission-img-content img{
	width: 60%;
	padding: 5%;
	
}
#color-bac{
	background-color:#EDF5F6 ;
}
#color_ooo{
	background-color: #FFEEEE;
}
#color_end{
	background-color: #FFF4D6;
}
.link{
	text-decoration: none;
	background-color: #ff7322;
	border-radius: 5px;
	padding: 10px 40px;
	border-radius: 5px;
	font-weight: 700;
	color: white;
}

.develop_content img{
	width: 100%;
	height: 100%;
	padding-left: 8%;
	

	
}
.develop_content{
	width: 35%;
	margin-left: 5%;
	padding-left: 15px;
	margin-right: 2%;
	
}
.develop-part{
	background-image: url(../images/shape-1.png);
	background-repeat: no-repeat;
	background-position: left;
}
#web-dev{
	border-left: 7px solid;
	border-image: linear-gradient(blue, cyan);
	border-image-slice: 1;
}
#webdec-dev{
	border-left: 7px solid;
	border-image: linear-gradient(#FF9E78, #FF7657);
	border-image-slice: 1;
}
footer{
	text-align: center;
	background-color: #1E1E1E;
	color: #E0E2E8;
	padding-top: 5%;
	padding-bottom: 5%;
}

#color-white{
	color: FFFFFF;
	font-size: 80%;
	font-family:Brush Script MT, Brush Script Std, cursive;
	font-style: italic;
}
#color-red{
	color:#FF5959;
	font-size: 80%;
	font-family:Brush Script MT, Brush Script Std, cursive;
	font-style: italic;
}